<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/60df0a97e4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/layout.css" />
    <%- style %>
  </head>
  <body>
    <!-- <%- include('_header') %> -->
    
    
    <%- body %> 
    
    
    <!-- <%- include('_footer') %> -->

    <%- script %>
    <script src="/js/home.js"></script>
  </body>
</html>
